# Supabase
SUPABASE_URL=https://wicezigksaezaroixuyc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndpY2V6aWdrc2FlemFyb2l4dXljIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzczNjQ4OCwiZXhwIjoyMDk5MzEyNDg4fQ.Frtc-0HgQADdE0ZOJituiXF7UYIpnkwOZCPrb_qfeIs

# PayPal modo live - producción
#PAYPAL_CLIENT_ID=AdvGVl0uZI6WCJ4Q40GGYaJFQW3oEJEVURRJWCgh7rDp7OOWRkSpP-4Lho0MMxoppSoaX-rMOfBx7KJn
#PAYPAL_CLIENT_SECRET=EIZYcuFhJnAEmIpIUL8zD2Y1UO1ukmMM5HzzrowtAlUKvbLt-r7dxUS7-ZgruSwobsBT1c-lu-jzcCA0
#PAYPAL_MODE=live
#PAYPAL_PLAN_ID_INVERSOR=P-0TL72226DS8316608NJKRG7I   # Plan Inversor
#PAYPAL_PLAN_ID_CORPORATIVO=P-0TL72226DS8316608NJKRG7I # Mismo ID, pero puedes crear otro en PayPal
#PAYPAL_WEBHOOK_ID=1HU13800E6384101H  # https://venezuelainsights.com/api/webhook/paypal

# Modo sandbox
# PayPal
PAYPAL_CLIENT_ID=AdqO5Svojv11E7dC2s94MSXCt2xLaScVJYULVsd1kZHx8MsO0LR0oJ3M4GEopc21ijrUfypFRzTt7sAk
PAYPAL_CLIENT_SECRET=EE8kMrFEI2lkNxkMdvUrTAMkZIk_EkVjCdDpsbxpHpT7SWtZjhWaiGszXfiIJylHuXnYfsZjAIrcxnC1
PAYPAL_MODE=sandbox
PAYPAL_PLAN_ID_INVERSOR=P-0TL72226DS8316608NJKRG7I   # Plan Inversor
PAYPAL_PLAN_ID_CORPORATIVO=P-0TL72226DS8316608NJKRG7I # Mismo ID, pero puedes crear otro en PayPal
PAYPAL_WEBHOOK_ID=0FX42291E2963923V  # https://venezuelainsights.com/api/webhook/paypal

# App
NEXT_PUBLIC_APP_URL=https://venezuelainsights.com

